.row-item {
   margin-top: 0px;
}

.row-first-true {
   margin-top: 30px;
}

.save_button {
   bottom: 10px;
   left: 10px;
   position: fixed;
   z-index: 10;
}

.panel {
   background-color: #E3F9F9;
}

.auth_container {
   margin: 10px;
   width: 237px;
}

.nav-side {
   background-color: #EBEBEB;
   border-radius: 6px 5px 5px 6px;
   font-size: 11px;
   opacity: 0.5;
   position: fixed;
   right: 0;
   top: 12px;
   width: 277px;
   z-index: 10;
   display: none;
}

.nav-side li {
   line-height: 0.9em;
}

.nav-side li a {
   cursor: pointer;
   padding: 5px 15px;
}

.nav-side li a:hover {
   background-color: #F2F8BD;
}
